<div class="account-data-container">
  <h1>Your account</h1>

  <button mat-button (click)="logout()">Logout</button>

  <div class="account-info">
    <div>
      <strong>Name:</strong> {{ customer?.name }}
    </div>
    <div>
      <strong>Surname:</strong> {{ customer?.surname }}
    </div>
    <div>
      <strong>Email:</strong> {{ customer?.email }}
    </div>
    <div>
      <strong>Address:</strong> {{ customer?.address }}
    </div>
    <div>
      <strong>Address number:</strong> {{ customer?.addressNumber }}
    </div>
    <div>
      <strong>ZIP Code:</strong> {{ customer?.zipCode }}
    </div>
    <div>
      <strong>Telephone Number:</strong> {{ customer?.telephoneNumber }}
    </div>
  </div>

  <h2>Orders</h2>

  <table mat-table [dataSource]="orders" class="mat-elevation-z8">

    <!-- Order Number Column -->
    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef> Order Number </th>
      <td mat-cell *matCellDef="let order"> {{ order.orderNumber }} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let order"> {{ order.date | date:'short' }} </td>
    </ng-container>

    <!-- Total Price Column -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> Total Price </th>
      <td mat-cell *matCellDef="let order"> {{ order.totalPrice | currency }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['orderNumber', 'date', 'totalPrice']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['orderNumber', 'date', 'totalPrice'];"></tr>
  </table>

  <mat-paginator [length]="orders.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>

</div>
