@import "../../colors"

.account-data-container
  max-width: 800px
  margin: 2rem auto
  padding: 1rem
  background-color: #f9f9f9
  border-radius: 8px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)


.account-info
  margin-top: 1rem


.account-info div
  margin-bottom: 0.5rem


.account-info strong
  margin-right: 0.5rem
  font-weight: bold


mat-table
  width: 100%
  margin-top: 1rem


mat-row
  cursor: pointer


mat-row:hover
  background-color: #f0f0f0


th.mat-header-cell,
td.mat-cell
  text-align: center


mat-paginator
  margin-top: 1rem

button
  background-color: $accent-blue
  color: white
