header
  margin-bottom: 20px

.login-chart-container
  display: flex
  color: white

.first-row
  justify-content: space-between
  background-color: black

.second-row
  justify-content: center
  padding-top: 50px
  padding-bottom: 30px

.category-container
  gap: 4rem
  flex: 1
  display: flex
  justify-content: center

@media screen and (min-width: 768px)
  .spacer
    display: none

  .search-bar
    width: 50%

@media screen and (max-width: 768px)
  .third-row
    display: none
