<header>
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav #drawer class="side-nav" fixedInViewport="true" mode="over">
      <mat-toolbar class="side-nav-toolbar">
        <button mat-icon-button (click)="drawer.close()"><mat-icon>close</mat-icon></button>
        CATEGORIES
      </mat-toolbar>
      <!-- Add your navigation links here -->
      <mat-nav-list class="side-nav-list">
        <mat-list role="list">
          <mat-list-item role="listitem" routerLink="products" (click)="drawer.close()">CLIMBING</mat-list-item>
          <mat-list-item role="listitem" routerLink="products" (click)="drawer.close()">FOOTWEAR</mat-list-item>
          <mat-list-item role="listitem" routerLink="products" (click)="drawer.close()">CLOTHING</mat-list-item>
          <mat-list-item role="listitem" routerLink="products" (click)="drawer.close()">OTHER ACTIVITIES</mat-list-item>
        </mat-list>
        <!-- Add more links as needed -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="navbar">
        <!-- First Row -->
        <mat-toolbar-row class="first-row">
          <button mat-icon-button (click)="drawer.toggle()" class="button side-nav-toggle">
            <mat-icon>menu</mat-icon>
          </button>
          <a routerLink="home" class="title">Ascent Essentials</a>
          <span></span>
          <!-- Login/Register -->
          <div class="login-chart-container">
            <button mat-icon-button class="button" [routerLink]="'customer-account'">
              <mat-icon>person</mat-icon>
            </button>
            <button mat-icon-button class="button" [routerLink]="'cart'">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>

        <!-- Second Row -->
        <mat-toolbar-row class="second-row">
          <!-- Centered Search Bar -->
          <span class="spacer"></span>
          <mat-form-field appearance="outline" class="search-bar">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search for products">
            <button mat-button matSuffix>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </mat-toolbar-row>

        <!-- Third Row -->
        <mat-toolbar-row class="third-row">
          <!-- Categories -->
          <div class="category-container">
            <button mat-button [routerLink]="'products'">CLIMBING</button>
            <button mat-button [routerLink]="'products'">FOOTWEAR</button>
            <button mat-button [routerLink]="'products'">CLOTHING</button>
            <button mat-button [routerLink]="'products'">OTHER ACTIVITIES</button>
            <!-- Add more category buttons as needed -->
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <!-- Your main content goes here -->
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>

</header>
