<header>
  <mat-toolbar class="navbar">
    <!-- First Row -->
    <mat-toolbar-row class="first-row">
      <!-- Website Logo -->
      <img src="../../assets/images/AE.png" alt="Website Logo" class="logo">

      <!-- Login/Register -->
      <div class="login-chart-container">
        <button mat-icon-button aria-label="Example icon button with a home icon">
          <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>

    <!-- Second Row -->
    <mat-toolbar-row class="second-row">

      <!-- Centered Search Bar -->
      <mat-form-field appearance="outline" class="search-bar">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search for products">
        <button mat-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </mat-toolbar-row>

    <!-- Third Row -->
    <mat-toolbar-row class="third-row">
      <!-- Categories -->
      <div class="category-container">
        <button mat-button>Climbing</button>
        <button mat-button>Footwear</button>
        <button mat-button>Clothing</button>
        <button mat-button>Other Activities</button>
        <!-- Add more category buttons as needed -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
