@import "../../colors"

header
  margin-bottom: 20px

.title
  font-size: 2.5em
  font-weight: bold
  letter-spacing: 2px
  color: white
  text-decoration: none
  -webkit-text-stroke: 1px #000

.button
  color: $highlight-orange

.login-chart-container
  display: flex

.first-row
  justify-content: space-between
  background-color: $primary-green

.second-row
  justify-content: center
  padding-top: 50px
  padding-bottom: 30px
  background-color: $neutral-gray

.third-row
  background-color: $neutral-gray

.category-container
  gap: 4rem
  flex: 1
  display: flex
  justify-content: center

.side-nav
  width: 100%

.side-nav-toolbar
  background-color: $primary-green
  color: $neutral-gray

.side-nav-list
  background-color: $neutral-gray

@media screen and (min-width: 768px)
  .spacer
    display: none

  .search-bar
    width: 50%

  .side-nav-toggle
    display: none

@media screen and (max-width: 768px)
  .third-row
    display: none

  .title
    display: none
