.footer
  background-color: #F5F5F5
  color: #000000
  padding: 20px 0

.footer-content
  display: flex
  justify-content: space-between

.footer-section
  flex: 1
  margin-right: 20px

  h3
    font-size: 1.2em
    margin-bottom: 10px

  p
    margin: 0

  ul
    list-style: none
    padding: 0

    li
      margin-bottom: 5px

.social-icons
  font-size: 1.5em

  i
    margin-right: 10px
