@import "../../colors"

.footer
  background-color: $primary-green
  color: white
  padding: 20px

.row
  display: flex
  flex-wrap: wrap
  justify-content: space-between


.column
  flex: 1 1 30%
  margin: 0 10px /* Adjust as needed */

a
  color: white
  text-decoration: none

a:hover
  text-decoration: underline

