<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>About Us</h1>
        <p>Welcome to Ascent Essentials, where your shopping experience is our top priority! At Ascent Essentials, we pride ourselves on providing a curated selection of high-quality products that cater to your unique tastes and needs. Whether you're searching for the latest fashion trends, cutting-edge electronics, or must-have home essentials, our diverse range of offerings ensures there's something for everyone.</p>
      </div>
      <div class="column">
        <h1>Contact Us</h1>
        <p>Email: info&#64;example.com</p>
        <p>Phone: +1 (123) 456-7890</p>
        <p>Address: 123 Main Street, Cityville</p>
      </div>
      <div class="column">
        <h1>Follow Us</h1>
        <p>Stay connected with us on social media for the latest updates:</p>
        <ul class="social-icons">
          <li><a href="#" target="_blank">Facebook</a></li>
          <li><a href="#" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="column text-center">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
