<div class="auth-container">
  <div class="login-section">
    <h1>Login</h1>
    <form>
      <mat-form-field  appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="button">Login</button>
    </form>
  </div>

  <div class="divider"></div>

  <div class="signin-section">
    <h1>Sign In</h1>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Enter your name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput type="text" placeholder="Enter your surname">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="button">Sign In</button>
    </form>
  </div>
</div>
