.home-card
  border-width: 1px
  border-radius: 40px
  border-color: black
  margin-bottom: 20px
  margin-left: auto
  margin-right: auto

.card-image
  width: 100%
  height: auto
  border-radius: 40px

.overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  color: white
  padding: 20px

.card-text
  font-size: 2rem
  font-weight: bold
  -webkit-text-stroke: 1px #000

@media screen and (min-width: 768px)
  .home-card
    width: 50%

@media screen and (max-width: 768px)
  .home-card
    width: 85%
