.home-card
  border-width: 1px
  border-radius: 40px
  border-color: black
  margin-bottom: 20px
  margin-left: auto
  margin-right: auto

@media screen and (min-width: 768px)
  .home-card
    width: 50%

@media screen and (max-width: 768px)
  .home-card
    width: 85%
