<div class="container">
  <div class="filter-column">
    <div class="filter-container">
      <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
        <mat-form-field appearance="outline" class="price-form">
          <mat-label>Minimum Price</mat-label>
          <input matInput type="number" placeholder="Min Price" formControlName="minPrice">
        </mat-form-field>

        <mat-form-field appearance="outline" class="price-form">
          <mat-label>Maximum Price</mat-label>
          <input matInput type="number" placeholder="Max Price" formControlName="maxPrice">
        </mat-form-field>

        <mat-form-field appearance="outline" class="price-form">
          <mat-label>Category</mat-label>
          <mat-select formControlName="subCategoryId">
            <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory._id">
              {{ subcategory.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="price-form">
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brand">
            <mat-option *ngFor="let brand of brands" [value]="brand">
              {{ brand }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button type="submit" class="button">Apply Filters</button>
      </form>
    </div>
  </div>

  <div class="products-column">
    <div class="products-container">
      <a *ngFor="let product of filteredProducts | paginate: { itemsPerPage: 10, currentPage: pageIndex }"
         [routerLink]="['/product', product._id]">
        <app-product-card [product]="product"></app-product-card>
      </a>
    </div>
    <pagination-controls (pageChange)="pageIndex = $event"></pagination-controls>
  </div>
</div>
