<form [formGroup]="categoryForm" (ngSubmit)="submitForm()">
  <mat-form-field appearance="outline">
    <mat-label>Choose Category</mat-label>
    <mat-select formControlName="categoryId">
      <mat-option *ngFor="let category of existingSubcategories" [value]="category._id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>New Category Name</mat-label>
    <input matInput formControlName="newName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>New Category Description</mat-label>
    <input matInput formControlName="newDescription" />
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="categoryForm.invalid" (click)="submitForm()">Save</button>
</form>
