<div class="product-details">
  <h1 class="product-name">{{ product?.brand }} {{ product?.name }}</h1>

  <div class="image-container">
    <img class="product-image" [src]="currentImage" alt="{{product?.name}}">
    <div class="thumbnail-container">
      <img *ngFor="let image of product?.images" class="thumbnail" src="http://localhost:3000/product/image/{{image}}" alt="{{product?.name}}" (click)="changeImage(image)">
    </div>
  </div>

  <p class="product-description">{{ product?.description }}</p>

  <div class="product-info">
    <p class="price">Price: {{ product?.price | currency }}</p>
    <p class="availability" [ngClass]="{'not-available': product!.quantity < 0}">{{ 'Available' }}</p>

    <div class="quantity-container">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" min="1" max="10" [ngModel]="quantity">
    </div>

    <button mat-button (click)="addToCart()" [disabled]="product!.quantity < 0">Add to Cart</button>
  </div>
</div>
