$primary-green: #2E3B4E;  // Dark Slate Grayish Blue-Green
$secondary-green: #4CAF50;  // Green

$neutral-gray: #F5F5F5;  // Medium Gray

$accent-blue: #536878;  // Steel Blue

$highlight-orange: #FFB300;  // Dark Yellow
