.cards-container
  display: block
  align-content: center
  justify-content: center

.logo-container
  display: flex
  justify-content: center

.logo
  height: auto
  max-width: 100%

@media screen and (min-width: 768px)
  .cards-container
    grid-template-columns: repeat(auto-fill, minmax(800px, 800px))
