.cards-container
  display: grid
  column-gap: 15px
  row-gap: 15px
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px))
  justify-content: space-around
  margin-bottom: 20px

@media screen and (min-width: 768px)
  .cards-container
    grid-template-columns: repeat(auto-fill, minmax(800px, 800px))
